@model IEnumerable<Post>

@{
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "This is my blog.";
    ViewBag.Keywords = "blog programming travel photography";
}


<div class="main-img">
    <span class="title">Amazing Blog Site</span>
</div>

<!--
<div class="container">
        @foreach (var post in Model)
        {
            var imag_path = $"/Image/{post.Image}";

            <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.ID">
                <img src="@imag_path" />
                <span class="title">@post.Title</span>
            </a>
        }

</div>
-->
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">

            @foreach (var post in Model)
            {
                var imag_path = $"/Image/{post.Image}";

                <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.ID">
                    <img src="@imag_path" />
                    <span class="title">@post.Title</span>
                </a>
            }
        </div>

        <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 bg-light rounded">
                <h4 class="font-italic">About</h4>
                <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            </div>

            <div class="p-3">
                <h4 class="font-italic">Archives</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#">March 2014</a></li>
                    <li><a href="#">February 2014</a></li>
                    <li><a href="#">January 2014</a></li>
                    <li><a href="#">December 2013</a></li>
                    <li><a href="#">November 2013</a></li>
                    <li><a href="#">October 2013</a></li>
                </ol>
            </div>

            <div class="p-3">
                <h4 class="font-italic">Category</h4>
                <ol class="list-unstyled">
                    <li><a asp-controller="Home" asp-action="Index" asp-route-category="Programing">Programing</a></li>
                    <li><a asp-controller="Home" asp-action="Index" asp-route-category="Travel">Travel</a></li>
                    <li><a asp-controller="Home" asp-action="Index" asp-route-category="Photography">Photography</a></li>
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->
</main>